<table border=1>
    <tr>
        <td>
            序号
        </td>
        <td>
            场地名称
        </td>
        <td>
            时段
        </td>
        <td>
            价格
        </td>
        <td>
            可预定日期
        </td>
        <td>
            预订情况
        </td>
        <td>
            验证码
        </td>
    </tr>
    <%if @query_records!=nil %>
    <%i=1 %>
    <%@query_records.each do |record| %>
    <tr>
        <td>
            <%=i %>
        </td>
        <td>
            <%=record[:FIELD_ID] %>
        </td>
        <td>
            <%=record[:PERIOD] %>
        </td>
        <td>
            <%=record[:PRICE] %>
        </td>
        <td>
            <%=record[:USABLE_DATE] %>
        </td>
        <td>
            <%=record[:ACTIVITY]%>
        </td>
        <td>
           <%=record[:AUTHENTICODE]%>
        </td>
		<td>
		<%if record[:ACTIVITY]=="未预定"%>
		 <%=link_to "预定", :controller=>"pay", :action=>"index", :activity_id=>record[:ID], :pay_from_time=>record[:FROM_TIME].strftime("%H:%M").to_s, :pay_to_time=>record[:TO_TIME].strftime("%H:%M").to_s, :field_id=>record[:FIELD_ID], :venue_id=>record[:VENUE_ID], :period=>record[:PERIOD], :price=>record[:PRICE], :usable=>record[:ACTIVITY], :pay_usable_date=>record[:USABLE_DATE], :authenCode=>record[:AUTHENTICODE] %>
		 <%else%>
		 <%="不可预定"%>
		<%end%>
		</td>
    </tr>
    <%i=i+1 %>
    <%end %>
    <%end %>
</table>
