<%= error_messages_for :page %>
<div class="edit-form">
    <ul>
        <li>
            <label class="title">
                标题
            </label>
            <%= f.text_field :title %>
			<%= f.hidden_field :parent_id %>
        </li>
        <li>
            <label class="title">
                url
            </label>
            <%= f.text_field :url %>
        </li>
        <li>
            <label class="title">
                登录后不可见
            </label>
            <%= f.check_box :is_login %>
        </li>
        <li>
            <label class="title">
                管理员可见
            </label>
            <%= f.check_box :is_admin %>
        </li>
        <li style="height:auto;">
            <label class="title">
                页面内容
            </label>
            <%= f.text_area :content, :class => "mceEditor",:size => "110x40" %>
        </li>
    </ul>
</div>
