<table id="content" width="354" border="1">
    <tr>
        <td width="50">
            卡号
        </td>
        <td width="100">
            场馆
        </td>
	    <td width="170">
            项目
        </td>	
        <td width="170">
            余额
        </td>
        <td width="100">
            充值
        </td>
    </tr>
    <%if @cards!=nil && @cards.size!=0 %>
    <% for card in @cards %>
    <tr>
        <td>
            <%=card[:CARD_NUMBER]%>
        </td>
        <td>
            <%=card[:VENUE_NAME]%>
        </td>
        <td>
            <%=card[:type_name] %>
        </td>
		<td>
            <%=card[:BALANCE] %>
        </td>
        <td>
            <%=link_to '充值',:controller=>"pay",:action=>"supplement",:card_number=>card[:CARD_NUMBER] %>
        </td>
    </tr>
    <% end %>
    <%end %>
    <%if @cards.size==0 %>
    <%="无会员卡记录" %>
    <%end %>
</table>
<%= will_paginate @cards, :renderer => 'RemoteLinkRenderer' , :previous_label => "上一页", :next_label => "下一页" %>
<div>
</div>
