<fieldset>
    <%form_remote_tag :update=>"info1",:html => {:id => 'commit'}, :url=>{:action=>:modify_login_infor} do %>
        <div>
        	<%= hidden_field_tag "attribute", "modify_email", :id => nil %>
            <label>
                当前邮箱:
            </label>
            <label>
                <%=text_field_tag :old_email,"",:size => User::EMAIL_SIZE,
            	:maxlength => User::EMAIL_MAX_LENGTH %>
            </label>
            <br>
            <label>
                新的邮箱:
            </label>
            <%=text_field_tag :email,"",:size => User::EMAIL_SIZE,
            :maxlength => User::EMAIL_MAX_LENGTH %>
        </div>
        <%=submit_tag "提交" %>
        <%end %>
</fieldset>
<div id="info1">
</div>
<fieldset>
    <%form_remote_tag :update=>"info2",:html => {:id => 'commit'}, :url=>{:action=>:modify_login_infor} do %>
    <div>
    	<%= hidden_field_tag "attribute", "modify_cell", :id => nil %>
            <label>
                当前手机号:
            </label>
            <label>
                <%=@user.cell %>
            </label>
            <br>
            <label>
                新的手机号:
            </label>
            <%=text_field_tag :cell,"",:size => User::CELL_SIZE,
            :maxlength => User::CELL_MAX_LENGTH %>
        </div>
    <%=submit_tag "提交" %>
    <%end %>
</fieldset>
<div id = "info2">
</div>




