<fieldset>
    <%form_remote_tag :update=>"info1",:html => {:id => 'commit'}, :url=>{:action=>:modify} do %>
    <div>
        修改密码<%= hidden_field_tag "attribute", "modify_pwd", :id => nil %>
        <br>
        <label>
            当前密码:
        </label>
        <%=text_field_tag :current_password,"",:size =>User::PASSWORD_SIZE,:maxlength => User::PASSWORD_MAX_LENGTH %>
        <br>
        <label>
            新的密码:
        </label>
        <%= text_field_tag :password,"",:size =>User::PASSWORD_SIZE,:maxlength =>User::PASSWORD_MAX_LENGTH %>
        <br>
        <label>
            重复输入:
        </label>
        <%= text_field_tag :password_confirmation,"",:size =>User::PASSWORD_SIZE,:maxlength => User::PASSWORD_MAX_LENGTH %>
    </div>
    <%=submit_tag "提交" %>
    <%end %>
</fieldset>
<div id="info1">
</div>
<fieldset>
    <%form_remote_tag :update=>"info2",:html => {:id => 'commit'}, :url=>{:action=>:modify} do %>
    <div>
        密码保护问题<%= hidden_field_tag "attribute", "pwd_protect", :id => nil %>
        选择保护问题：<%= select_tag :question, @question_items %>
        <br>
        <label>
            问题答案:
        </label>
        <br>
        <%= text_field_tag :answer,"",:size =>User::PASSWORD_SIZE,:maxlength => User::PASSWORD_MAX_LENGTH %>
        <br>
        <label>
            安全邮箱:
        </label>
        <br>
        <%= text_field_tag :email,"",:size =>User::EMAIL_SIZE,:maxlength => User::EMAIL_MAX_LENGTH %>
        <br>
        <label>
            密码:
        </label>
        <br>
        <%= text_field_tag :password,"",:size =>User::PASSWORD_SIZE,:maxlength => User::PASSWORD_MAX_LENGTH %>
    </div>
    <%=submit_tag "提交" %>
    <%end %>
</fieldset>
</div>
