<table id="content" width="354" border="1">
    <tr>
        <td width="50">
            场馆
        </td>
        <td width="100">
            次数
        </td>
        <td width="170">
            本月消费
        </td>
    </tr>
    <%if @my_records!=nil && @my_records.size!=0 %>
    <% for my_record in @my_records %>
    <tr>
        <td>
            <%=my_record[:VENUE_NAME] %>
        </td>
        <td>
            <%=my_record[:COUNT] %>
        </td>
        <td>
            <%=my_record[:SUM] %>
        </td>
    </tr>
    <% end %>
    <%else %>
    <%="无记录" %>
    <%end %>
</table>
<%= will_paginate @my_records, :renderer => 'RemoteLinkRenderer' , :previous_label => "上一页", :next_label => "下一页" %>
