<div id ="content">
<div class="form_row">
    <label for="venueName">
        场馆:
    </label>
    <%= @venue_name %>
</div>
<div class="form_row">
    <label for="fieldName">
        场地:
    </label>
    <%= @field_name %>
</div>
<div class="form_row">
    <label for="user_phone">
        手机号:
    </label>
    <%= @order.PHONE %>
</div>
<div class="form_row">
    <label for="book_time">
        预定时间:
    </label>
    <%= @order.BOOK_TIME %>
</div>
<div class="form_row">
    <label for="standard_price">
        标准价格:
    </label>
    <%= @order.STANDARD_PRICE %>
</div>
<div class="form_row">
    <label for="payment_sum">
        应支付的金额:
    </label>
    <%= @order.PAYMENT_SUM %>
</div>
<%=link_to "提交" , :controller=>:pay,:action=>:payment,:order_id=>@order.ID,:price=>@order.PAYMENT_SUM,:venue_id=>@order.VENUE_ID,:type=>@field_type %>
</div>
