<div style="margin-left:20px;margin-top:50px">
    <table width="100%">
        <tr>
            <td width="200px" valign="top">
                <b>运动记录</b>
                <ul>
                    <li>
                        <%=link_to_remote '个人锻炼',  :url=>{:action=>"my_records"} %>
                    </li>
                    <li>
                        <%=link_to_remote '会员卡管理',  :url=>{:action=>"card_manage"} %>
                    </li>
                    <li>
                        <%=link_to_remote '当前预定',  :url=>{:action=>"order_now"} %>
                    </li>
                </ul>
                <br>
                <b>个人管理</b>
                <ul>
                    <li>
                        <%=link_to_remote '个人信息',  :url=>{:action=>"user_info"} %>
                    </li>
                    <li>
                        <%=link_to_remote '密码管理',  :url=>{:action=>"modify_pwd"} %>
                    </li>
                    <li>
                        <%=link_to_remote '登录信息管理',  :url=>{:action=>"login_infor"} %>
                    </li>
                </ul>
            </td>
            <td id="content">
                <%= render :partial => "user_info" %>
            </td>
        </tr>
    </table>
</div>
