<div style="width:200px">
    运动记录
    <ul>
        <li>
            <a>
            本月锻炼<a/>
        </li>
        <li>
            <a>
            会员卡管理<a/>
        </li>
        <li>
            <a>
            当前预定<a/>
        </li>
    </ul>
</div>
<div>
    帐号管理
    <%= render :partial => "framework" %>
</div>
<div style="height:600px;width:600px;border:1px solid;position:absolute;left:200px;top:200px;">
    <%= error_messages_for :user %>
    <% form_for :user do |form| %>
    <fieldset>
        <legend>
            修改邮箱和手机信息
        </legend>
        <%= hidden_field_tag "attribute", "login_infor", :id => nil %>
        <div class="form_row">
            <label for="old_email">
                当前邮箱:
            </label>
            <%= @user.email %>
        </div>
        <div class="form_row">
            <label for="new_email">
                新的邮箱:
            </label>
            <%= form.text_field :email,
            :size =>      User::EMAIL_SIZE,
            :maxlength => User::EMAIL_MAX_LENGTH %>
        </div>
        
		<div class="form_row">
            <label for="ole_cell">
                当前手机号:
            </label>
            <%= @user.cell %>
        </div>
        <div class="form_row">
            <label for="new_cell">
                新的手机号:
            </label>
            <%= form.text_field :cell,
            :size =>      User::CELL_SIZE,
            :maxlength => User::CELL_MAX_LENGTH %>
        </div>
        <%= submit_tag "提交", :class => "submit" %>
    </fieldset>
    <% end %>
</div>
