<div style="width:200px">
    运动记录
    <ul>
        <li>
            <a>本月锻炼<a/>
        </li>
        <li>
            <a>会员卡管理<a/>
        </li>
        <li>
            <a>当前预定<a/>
        </li>
    </ul>
</div>
<div>
    帐号管理
    <ul>
        <li>
    <%= link_to("密码管理",{ :controller => :user,:action=>"modify_pwd"})%>
        </li>
        <li>
    <%= link_to("登录信息管理",{ :controller => :user,:action=>"login_infor"})%>
        </li>
    </ul>
</div>
<div style="height:600px;width:600px;border:1px solid;position:absolute;left:200px;top:200px;">
<%= error_messages_for :user %>

<% form_for :user do |form| %>
<fieldset>
  <legend>修改密码</legend> 
  <%= hidden_field_tag "attribute", "modify_pwd", :id => nil%>
  <div class="form_row">
    <label for="current_password">当前密码:</label> 
    <%= form.password_field :current_password, 
                            :size =>      User::PASSWORD_SIZE,
                            :maxlength => User::PASSWORD_MAX_LENGTH %>
  </div>

  <div class="form_row">
    <label for="password">新密码:</label> 
    <%= form.password_field :password, 
                            :size =>      User::PASSWORD_SIZE,
                            :maxlength => User::PASSWORD_MAX_LENGTH %>
  </div>

  <div class="form_row">
    <label for="password_confirmation">确认密码:</label> 
    <%= form.password_field :password_confirmation, 
                            :size =>      User::PASSWORD_SIZE,
                            :maxlength => User::PASSWORD_MAX_LENGTH %>
  </div>

  <%= submit_tag "提交", :class => "submit" %> 
</fieldset>  
<% end %>

<% form_for :user do |form| %>
<fieldset>
  <legend>密码保护问题</legend> 
  <%= hidden_field_tag "attribute", "pwd_protect", :id => nil%>
  <div class="form_row">
    <label for="protect_question">密码提示问题:</label> 
    <%= form.text_field :protect_question, 
                            :size =>      User::PASSWORD_SIZE,
                            :maxlength => User::PASSWORD_MAX_LENGTH %>
  </div>

  <div class="form_row">
    <label for="answer">问题答案:</label> 
    <%= form.text_field :answer, 
                            :size =>      User::PASSWORD_SIZE,
                            :maxlength => User::PASSWORD_MAX_LENGTH %>
  </div>

  <div class="form_row">
    <label for="email">安全邮箱:</label> 
    <%= form.text_field :email, 
                            :size =>      User::PASSWORD_SIZE,
                            :maxlength => User::PASSWORD_MAX_LENGTH %>
  </div>

  <div class="form_row">
    <label for="password">密码:</label> 
    <%= form.password_field :password, 
                            :size =>      User::PASSWORD_SIZE,
                            :maxlength => User::PASSWORD_MAX_LENGTH %>
  </div>
  
  <%= submit_tag "提交", :class => "submit" %> 
</fieldset>  
<% end %>
</div>

