<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <title>jianshen</title>
        <%= javascript_include_tag :defaults %>
		<%=javascript_include_tag "prototype"%>  
		<%= javascript_include_tag 'lowpro' %>
		<script language="JavaScript" type="text/javascript" src="/DatePicker/WdatePicker.js"></script>

		
                <style type="text/css">
        <!--
        /*****************************************************************
         ******************************************************************
         大背景和大框 中间内容框(固定)
         ******************************************************************
         *****************************************************************/
        body {
            margin: 0px;
            padding: 0px;
            font-size: 12px;
            background: url(images/bei.jpg) top center no-repeat;
            background-color: #000000;
        }* {
            margin: 0;
            padding: 0;
        }
        
        #kuang {
            width: 864px;
            margin: auto;
        }
        
        #kuang2 {
            width: 864px;
            background: url(images/bei1.png) repeat;
            _filter: progid:
        
        DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="images/bei1.png");
        _background:none;}
        html,body{height:100%; margin:0px;} 
        
        /*****************************************************************
        ******************************************************************
        退出 LOGO 头部顶框(固定)
        ******************************************************************
        *****************************************************************/
        #deng{
        width:864px;
        height:14px;
        color:#FFFFFF;
        padding-top:16px;}
        #deng a:link{color: #fff;}
        #deng a:visited {color: #fff;}
        #deng a:hover {color: #eec400;}
        #deng a:active {color: #eec400;}
        #logo{
        width:864px;
        height:57px;
        position: absolute;
        float:left;}
        #logo1{
        width:177px;
        height:57px;
        float:left;
        background:url(images/logo.jpg);}
        #logo2{
        width:671px;
        height:57px;
        float:left;
        padding-left:16px;
        background:#000;
        filter:alpha(opacity=45);
        -moz-opacity:0.45;
        opacity:0.45;}
        #logo3{
        width:206px;
        height:41px;
        margin-top:7px;
        display:inline;
        float:left;
        position:relative;
        background-repeat: repeat;}
        html>body #logo3{
        background-repeat: repeat;background-image: url(images/logo3.png);}
        * #logo3{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/logo3.png");}
        #logo4{
        width:206px;
        height:41px;
        position: absolute;
        background:url(images/logo3.png);
        top:7px;
        left:193px;
        z-index: 100;}
        #kuang1{
        width:864px;
        height:57px;}
        
        
        
        
        /*****************************************************************
        ******************************************************************
        导航 (固定)
        ******************************************************************
        *****************************************************************/
        #dao{
        width:856px;
        height:26px;
        margin:auto;}
        #dao1{
        width:173px;
        height:26px;
        font-size:10px;
        float:left;}
        #dao1 img{
        padding-left:15px;
        float:left;}
        #t1{
        padding-right:50px;
        padding-top:2px;
        float:right;}
        #dao2{
        width:356px;
        height:20px;
        margin-top:3px;
        float:left;
        display:inline;
        background:url(images/dao.jpg);
        padding-left:327px;
        line-height:20px;
        position: relative;}
        #dao2 a:link{color: #fff;text-decoration: none;}
        #dao2 a:visited {color: #fff;text-decoration: none;}
        #dao2 a:hover {color: #eec400;text-decoration: none;}
        #dao2 a:active {color: #eec400;text-decoration: none;}
        
        
        
        /*****************************************************************
        ******************************************************************
        查询 修改 (固定)
        ******************************************************************
        *****************************************************************/
        #cha{
        width:836px;
        height:28px;
        line-height:28px;
        margin:auto;
        color:#FFFFFF;
        padding-left:22px;
        position: relative;
        background:#6a7b51;}
        #cha a:link{color: #fff;}
        #cha a:visited {color: #fff;}
        #cha a:hover {color: #eec400;}
        #cha a:active {color: #eec400;}
        #xiu{
        width:856px;
        height:65px;
        margin:auto;
        background:#bdd63c;}
        #xiu1{
        width:78px;
        height:22px;
        float:left;
        margin-top:20px;
        margin-left:31px;
        display:inline;
        background:url(images/t1.jpg);}
        #xiu2{
        width:100px;
        height:22px;
        float:left;
        margin-top:20px;
        margin-left:32px;
        display:inline;}
        #xiu3{
        width:136px;
        height:22px;
        float:left;
        margin-top:20px;
        margin-left:24px;
        display:inline;}
        #xiu4{
        width:58px;
        height:22px;
        float:left;
        margin-top:20px;
        margin-left:24px;
        display:inline;}
        #xiu5{
        width:75px;
        height:22px;
        float:left;
        margin-top:20px;
        margin-left:24px;
        display:inline;}
        #xiu6{
        width:94px;
        height:22px;
        float:left;
        margin-top:20px;
        margin-left:30px;
        display:inline;}
        #bi{
        width:94px;
        height:22px;
        border:0px;
        position: relative;
        background:url(images/t6.jpg);}
        #xl{
        width:100px;
        height:20px;}
        #xl2{
        width:136px;
        height:20px;}
        #xl3{
        width:75px;
        height:20px;}
        #ai{
        width:58px;
        height:16px;
        text-align:center;
        padding-top:2px;
        position: relative;
        border:#cde06c 1px solid;}
        
        
        /*****************************************************************
        ******************************************************************
        低部 (固定)
        ******************************************************************
        *****************************************************************/
        #dk6{
        width:864px;
        height:63px;
        float:left;}
        #di4{
        width:864px;
        height:21px;
        float:left;
        display:inline;
        background-repeat: repeat;}
        html>body #di4{
        background-repeat: repeat;background-image: url(images/di1.png);}
        * #di4{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/di1.png");}
        #di5{
        width:272px;
        height:21px;
        float:left;
        background-repeat: repeat;}
        html>body #di5{
        background-repeat: repeat;background-image: url(images/di2.png);}
        * #di5{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="images/di2.png");}
        #di6{
        width:575px;
        float:right;
        height:16px;
        float:right;
        color:#FFFFFF;
        text-align:right;
        font-size:12px;
        padding:8px 0px 0px 17px;}
        
        
        
        /*****************************************************************
        ******************************************************************
        中间部分(固定)
        ******************************************************************
        *****************************************************************/
        #nei{
        width:856px;
        margin:auto;
        height:100%;
        overflow: hidden;}
        #nei1{
        width:693px;
        float:left;}
        #nei2{
        width:136px;
        height:725px;
        color:#FFFFFF;
        font-weight:bold;
        float:left;
        margin-left:3px;
        background:url(images/bei1.jpg) repeat-x #2d4201;
        display:inline;
        padding-top:33px;
        padding-left:24px;}
        #nei2 img{ padding-left:46px;}
        
        #tui{
        width:92px;
        height:21px;
        display:inline;
        background:url(images/tui.jpg);
        border:0px;
        position: relative;
        margin-left:10px;}
        
        
        /*****************************************************************
        ******************************************************************
        中间部分
        ******************************************************************
        *****************************************************************/
        .zaq{
        position: relative;
        text-align:center;
        border-right:#000000 1px solid;}
        .zaq1{
        position: relative;
        text-align:center;
        border-right:#000000 1px solid;
        border-bottom:#fff 1px solid;
        border-left:#fff 1px solid;}
        .zaq1 img{
        border:0px;}
        .zaq2{
        font-size:14px;
        font-weight:bold;
        text-align:center;
        border-right:#000000 1px solid;}
        .zaq3{
        font-size:14px;
        font-weight:bold;
        text-align:center;}
        .zaq4{
        font-size:14px;
        color:#f1752b;
        font-weight:bold;
        text-align:center;}
        .zaq5{
        padding-left:5px;
        text-align:left;}
        .zaq5 a:link{color: #000;}
        .zaq5 a:visited {color: #000;}
        .zaq5 a:hover {color: #7fd2a8;}
        .zaq5 a:active {color: #7fd2a8;}
        .zaq6 a:link{color: #f69a9b;}
        .zaq6 a:visited {color: #f69a9b;}
        .zaq6 a:hover {color: #7fd2a8;}
        .zaq6 a:active {color: #7fd2a8;}
        .zaq7 a:link{color: #f59757; text-decoration: none;}
        .zaq7 a:visited {color: #f59757; text-decoration: none;}
        .zaq7 a:hover {color: #fff; text-decoration: none;}
        .zaq7 a:active {color: #fff; text-decoration: none;}
        
        
        #guang{
        width:693px;
        height:70px;
        background:#6a7b51;}
        #guangz{
        width:390px;
        height:50px;
        font-size:14px;
        float:left;
        padding-left:70px;
        line-height:18px;
        color:#FFFFFF;
        padding-top:20px;}
        #guangy{
        width:204px;
        height:22px;
        float:left;
        margin-top:38px;
        display:inline;}
        #q5{
        width:204px;
        height:22px;
        border:0px;
        position: relative;
        background:url(images/q2.jpg);}
        #d1{
        border-right:#000 1px solid;
        border-bottom:#FFFFFF 1px solid;
        margin-bottom:10px;}
        #d3{
        border-right:#000 1px solid;
        }
        #d2{
        width:683px;
        height:28px;
        line-height:28px;
        padding-left:10px;
        font-size:16px;
        font-weight:bold;}
        
        
        
        
        -->
        </style>
    </head>
    <body>
        <div id="kuang">
            <div id="deng">
                <% if logged_in? %>
                <%@user=User.find(session[:user]) %>
                <%= link_to "您好!#{@user.login}", :controller => 'user', :action => 'index' %>
                <%= link_to "Logout", :controller => 'account', :action => 'logout' %>
                <% else %>
                <% form_tag "account/login" do -%>
                <label for="login">
                    用户名
                </label>
                <%= text_field_tag 'login' %>
                <label for="password">
                    密码
                </label>
                <%= password_field_tag 'password' %>
                <%= submit_tag '登陆',:style=>"font-size:8pt" %>
                <% end -%>
                <% end %>
            </div>
            <div id="logo">
                <div id="logo1">
                </div>
                <div id="logo2">
                    <div id="logo3">
                    </div>
                </div>
                <div id="logo4">
                </div>
            </div>
            <div id="kuang1">
            </div>
            <div id="kuang2">
                <div id="dao">
                    <div id="dao1">
                        <img src="/images/tian.gif"/>
                        <div id="t1">
                            上海: 23C～31C
                            <br/>
                            下午: 多云
                        </div>
                    </div>
                    <div id="dao2">
                        <%= link_to "首页",:controller => :main,:action=>"index" %>
                        <span>&nbsp</span>
                        <%= link_to "注册",:controller => :account,:action=>"signup" %>
                        <span>&nbsp</span>
                        <%= link_to "关于我们",:controller => :about,:action=>"index" %>
                        <span>&nbsp</span>
                        <%= link_to "联系我们",:controller => :contact,:action=>"index" %>
                        <span>&nbsp</span>
                        <%= link_to "帮助中心",:controller => :help,:action=>"index" %>
                        <span>&nbsp</span>
                        <%= link_to "我的锻炼",:controller => :user,:action=>"index" %>
                    </div>
                </div>
                <!--这儿存放中间部分-->
                <%=yield %>
            </div>
            <div id="dk6">
                <div id="di4">
                </div>
                <div id="di5">
                </div>
                <div id="di6">
                    关于我们　|　联系方式　|　意见反馈　|　帮助中心　|　2009-2011 51duanlian.com 沪ICP证080482号
                </div>
            </div>
        </div>
    </body>
</html>
